<footer class="p-4 bg-white md:p-8 lg:p-10 dark:bg-gray-800">
    <div class="mx-auto max-w-screen-xl text-center">
        <a href="http://localhost:3000/" class="flex justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white"> 
            <img src="http://localhost:3000/favicon" class="w-auto h-16">
            StealThis   
        </a>
        <p class="my-6 text-gray-500 dark:text-gray-400">Best social media downloader</p>
        <ul class="flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-white">
            <li>
                <a href="http://localhost:3000/privacy" class="mr-4 hover:underline md:mr-6 ">Privacy</a>
            </li>
            <li>
                <a href="https://ko-fi.com/jimiwtf" class="mr-4 hover:underline md:mr-6">Donate</a>
            </li>
            <li>
                <a href="http://localhost:3000/discordserver" class="mr-4 hover:underline md:mr-6 ">Discord</a>
            </li>
            <li>
                <a href="https://twitter.com/stealthislol" class="mr-4 hover:underline md:mr-6">Twitter</a>
            </li>
        </ul>
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://jimi.wtf/" class="hover:underline">jimi.wtf</a></a>. All Rights Reserved.</span>
    </div>
  </footer>