<header>
    <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
            <a href="http://192.168.0.41:3000/" class="flex items-center">
                <img src="http://192.168.0.41:3000/favicon" class="mr-3 h-6 sm:h-9" alt="StealThis Logo" />
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">StealThis</span>
            </a>
            <div class="flex items-center lg:order-2">
                <a href="https://ko-fi.com/jimiwtf" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">Support the developer</a>
            </div>
            <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
                <p class="block py-2 pr-4 pl-3 text-white rounded bg-black lg:bg-transparent lg:text-black lg:p-0 dark:text-white">Download media from social media, without any ads or malware!</p>
            </div>
        </div>
    </nav>
</header>