<section class="bg-white dark:bg-stone-900 mb-16 mt-16">
    <div class="container px-6 py-10 mx-auto">
        <div class="grid grid-cols-1 gap-8 mt-4 xl:mt-4 md:grid-cols-2 xl:grid-cols-4">
            <div onclick="window.location.href = ('http://localhost:3000/youtube')" class="flex flex-col items-center p-8 transition-colors duration-300 transform border cursor-pointer rounded-xl hover:border-transparent group hover:bg-red-600 dark:border-stone-700 dark:hover:border-transparent">
                <img class="object-cover w-32 h-32 rounded-full ring-4 ring-stone-300" src="http://localhost:3000/img/youtube/png" alt="">

                <h1 class="mt-4 text-2xl font-semibold text-stone-700 capitalize dark:text-white group-hover:text-white">YouTube</h1>
            </div>
            <div onclick="window.location.href = ('http://localhost:3000/tiktok')" class="flex flex-col items-center p-8 transition-colors duration-300 transform border cursor-pointer rounded-xl hover:border-transparent group hover:bg-purple-600 dark:border-stone-700 dark:hover:border-transparent">
                <img class="object-cover w-32 h-32 rounded-full ring-4 ring-stone-300" src="http://localhost:3000/img/tiktok/avif" alt="">

                <h1 class="mt-4 text-2xl font-semibold text-stone-700 capitalize dark:text-white group-hover:text-white">TikTok</h1>
            </div>
            <div onclick="window.location.href = ('http://localhost:3000/reel')" class="flex flex-col items-center p-8 transition-colors duration-300 transform border cursor-pointer rounded-xl hover:border-transparent group hover:bg-pink-600 dark:border-stone-700 dark:hover:border-transparent">
                <img class="object-cover w-32 h-32 rounded-full ring-4 ring-stone-300" src="http://localhost:3000/img/instagram/png" alt="">

                <h1 class="mt-4 text-2xl font-semibold text-stone-700 capitalize dark:text-white group-hover:text-white">Instagram Reels</h1>
            </div>
            <div onclick="window.location.href = ('http://localhost:3000/reddit')" class="flex flex-col items-center p-8 transition-colors duration-300 transform border cursor-pointer rounded-xl hover:border-transparent group hover:bg-orange-600 dark:border-stone-700 dark:hover:border-transparent">
                <img class="object-cover w-32 h-32 rounded-full ring-4 ring-stone-300" src="http://localhost:3000/img/reddit/png" alt="">

                <h1 class="mt-4 text-2xl font-semibold text-stone-700 capitalize dark:text-white group-hover:text-white">Reddit</h1>
            </div>
            <div onclick="window.location.href = ('http://localhost:3000/x')" class="flex flex-col items-center p-8 transition-colors duration-300 transform border cursor-pointer rounded-xl hover:border-transparent group hover:bg-black dark:border-stone-700 dark:hover:border-transparent">
                <img class="object-cover w-32 h-32 rounded-full ring-4 ring-stone-300" src="http://localhost:3000/img/x/avif" alt="">

                <h1 class="mt-4 text-2xl font-semibold text-stone-700 capitalize dark:text-white group-hover:text-white">X</h1>
            </div>
            <div onclick="window.location.href = ('http://localhost:3000/pinterest')" class="flex flex-col items-center p-8 transition-colors duration-300 transform border cursor-pointer rounded-xl hover:border-transparent group hover:bg-red-600 dark:border-stone-700 dark:hover:border-transparent">
                <img class="object-cover w-32 h-32 rounded-full ring-4 ring-stone-300" src="http://localhost:3000/img/pinterest/png" alt="">

                <h1 class="mt-4 text-2xl font-semibold text-stone-700 capitalize dark:text-white group-hover:text-white">Pinterest Video</h1>
            </div>
            <div onclick="window.location.href = ('http://localhost:3000/snapchat')" class="flex flex-col items-center p-8 transition-colors duration-300 transform border cursor-pointer rounded-xl hover:border-transparent group hover:bg-yellow-400 dark:border-stone-700 dark:hover:border-transparent">
                <img class="object-cover w-32 h-32 rounded-full ring-4 ring-stone-300" src="http://localhost:3000/img/snapchat/png" alt="">

                <h1 class="mt-4 text-2xl font-semibold text-stone-700 capitalize dark:text-white">Snapchat Stories</h1>
            </div>
            <div onclick="window.location.href = ('http://localhost:3000/discord')" class="flex flex-col items-center p-8 transition-colors duration-300 transform border cursor-pointer rounded-xl hover:border-transparent group hover:bg-primary-600 dark:border-stone-700 dark:hover:border-transparent">
                <img class="object-cover w-32 h-32 rounded-full ring-4 ring-stone-300" src="http://localhost:3000/img/discord/webp" alt="">

                <h1 class="mt-4 text-2xl font-semibold text-stone-700 capitalize dark:text-white group-hover:text-white">Discord Avatars</h1>
            </div>
        </div>
    </div>
</section>